div
  a(href='/contact') | contact
  a(href='/save', class="a", data-target="prueba").button | save
  a(foo='foo, bar, baz', bar="1")
  a(foo='((foo))', bar="1")
div
  a(foo={{"blim"+"blam"}})
div
  select
    option(value='foo', selected) | Foo
    option(selected, value='bar') | Bar
