extends layout.jade

replace title
  title This is the title

append styles
  link(href="/css/bootstrap.min.css", rel="stylesheet")
  link(href="/css/mysite.css", rel="stylesheet")

replace footer
  | The footer
